page-confirmation{

.header-label{
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: grey;
}

.left {
    width: 60%;
    text-align: left;
    margin-right: auto; // margin-left: auto;
    display: block;
}

}
