register-member {
    .grey-label {
        color: darkgrey;
        font-size: 16px
    }
    .left {
        width: 90%;
        text-align: left;
        margin-right: auto; // margin-left: auto;
        //  display: block;
    }
}
