page-update-details {
    .grey-label {
        color: darkgrey;
        font-size: 16px
    }
    .left {
        width: 90%;
        text-align: left;
        margin-right: auto; // margin-left: auto;
        display: block;
        padding-top: auto;
        padding-bottom: 50px;
    }
    .searchbar-md .searchbar-input {
        height: auto;
        border-radius: 5px;
    }
}
