<!--
  Generated template for the PaymentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
<script type="text/javascript" src="../../rave.js"></script>

<script>
  function pay() {
    initRavePay({
      'PBFPubKey': 'FLWPUBK-d9dda4676e150ec83eac4da33d8a2f4c-X',
      'amount': 'amount',
      'currency': 'NGN',
      'country': 'NG',
      'customer_email': 'user@example.com',
      'customer_firstname': 'Jon',
      'customer_lastname': 'Snow',
      'pay_button_text': 'Pay now',
      'custom_title': '',
      'custom_description': '',
      'redirect_url': 'https://www.google.com',
      'custom_logo': '',
      'txref': 'CD-102297-RV098299'
    });
  }
</script> -->


<ion-header>

  <ion-navbar>
    <ion-title>Payments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div padding>
    <h3>Make Payment</h3>
    <h6>
      <i>Please note that all fields marked with asterisks (*) are mandatory</i>
    </h6>
  </div>

  <div padding class="left">

    <form #memberForm="ngForm">

      <ion-item>
        <ion-label floating>PhoneNumber*</ion-label>
        <ion-input type="text" id="firstname" name="firstname" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Name*</ion-label>
        <ion-input type="text" id="firstname" name="firstname" required></ion-input>
      </ion-item>


      <ion-item>
        <ion-spinner name="bubbles" *ngIf="showPaymentTypesSpin"></ion-spinner>
        <ion-label floating> Payment Type*</ion-label>
        <ion-select id="paymentType" name="paymentType" required>
          <ion-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.Id">{{paymentType.Name}}</ion-option>
        </ion-select>

      </ion-item>
      <ion-item>
        <ion-spinner name="bubbles" *ngIf="showPaymentModesSpin"></ion-spinner>
        <ion-label floating>Mode of Payment*</ion-label>
        <ion-select id="paymentMode" name="paymentMode" required>
          <ion-option *ngFor="let paymentMode of paymentModes" [value]="paymentMode.Id">{{paymentMode.Name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Currency*</ion-label>
        <ion-select id="currency" name="currency" required>
          <ion-option *ngFor="let currency of currencies" [value]="currency.Id">{{currency.CurrencyCode}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Amount*</ion-label>
        <ion-input type="number" id="amount" name="amount" [(ngModel)]="amount"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Narration</ion-label>
        <ion-input type="text" id="narration" name="narration"></ion-input>
      </ion-item>


      <button ion-button block large icon-start color="dark" [disabled]="!memberForm.form.valid" onclick="pay()">Next
        <ion-icon name="ios-arrow-round-forward"></ion-icon>
      </button>
    </form>
  </div>
</ion-content>
