.page-home {
    margin: 0px;
}

.button-cards {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    width: 90%;
    height: 150px;
    margin: 20px;
    background-color: #46887f;
    color: white;
}

.home-title {
    color: #46887f;
    font-size: 30px;
    text-align: center;
}