<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>GDHOTE Mobile Hub</h3>

  <ion-item>
    <ion-label floating>Firstname</ion-label>
    <ion-input type="text" ng-model="member.firstName"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label floating>Lastname</ion-label>
      <ion-input type="text" ng-model="member.lastName"></ion-input>
  </ion-item>

   <ion-item>
        <ion-label floating>Firstname</ion-label>
        <ion-input type="text" ng-model="member.firstName"></ion-input>
  </ion-item>

  <button ion-button primary>Save</button>
  <button ion-button secondary>Refresh</button>
</ion-content>
