<ion-header>
  <ion-navbar color="primary">
    <ion-title>GDHOTE Mobile Hub</ion-title>
     </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <h3>Add Member</h3>
  <form #memberForm="ngForm">
  <ion-item>
    <ion-label floating>Firstname</ion-label>
    <ion-input type="text"   [(ngModel)]="member.firstName"  id="firstname" name="firstname" required></ion-input>
  </ion-item>
    <ion-item>
      <ion-label floating>Middlename</ion-label>
      <ion-input type="text" id="middlename" name="middlename" [(ngModel)]="member.middleName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Lastname</ion-label>
      <ion-input type="text" id="lastname" name="lastname"  [(ngModel)]="member.surname" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input type="number" id="mobileNumber" name="phonenumber" [(ngModel)]="member.mobileNumber" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" id="email" name="email"  [(ngModel)]="member.emailAddress" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required></ion-input>
    </ion-item>
    <ion-row padding>
        <ion-col col-3>
            <ion-label floating style="color:darkgrey; font-size:16px">Date of Birth</ion-label>
        </ion-col>
        <ion-col col-3>
            <ion-item>
                <ion-label floating>Day</ion-label>
                <ion-select [(ngModel)]="dob_day" id="dob_day" name="dob_day" required>
                    <ion-option *ngFor="let item of daysList" [value] = "item">{{item}}</ion-option>
                </ion-select>
              </ion-item>
        </ion-col>
        <ion-col col-3>
            <ion-item>
                <ion-label floating>Month</ion-label>
                <ion-select [(ngModel)]="dob_month" id="dob_month" name="dob_month" required >
                    <ion-option value="Jan">January</ion-option>
                    <ion-option value="Feb">Febrary</ion-option>
                    <ion-option value="Mar">March</ion-option>
                    <ion-option value="Apr">April</ion-option>
                    <ion-option value="May">May</ion-option>
                    <ion-option value="Jun">June</ion-option>
                    <ion-option value="Jul">July</ion-option>
                    <ion-option value="Aug">August</ion-option>
                    <ion-option value="Sep">September</ion-option>
                    <ion-option value="Oct">October</ion-option>
                    <ion-option value="Nov">November</ion-option>
                    <ion-option value="Dec">December</ion-option>
                  </ion-select>
              </ion-item>
        </ion-col>
        <ion-col col-3>
            <ion-item>
                <ion-label floating>Year</ion-label>
                <ion-select [(ngModel)]="dob_year" id="dob_year" name="dob_year" required>
                    <ion-option *ngFor="let item of yearList" [value] = "item">{{item}}</ion-option>
                </ion-select>
              </ion-item>
        </ion-col>
        
    </ion-row>

    <ion-item>
      <ion-label floating>Gender</ion-label>
      <ion-select [(ngModel)]="member.Gender" id="gender" name="gender" required >
        <ion-option value="f">Female</ion-option>
        <ion-option value="m">Male</ion-option>
      </ion-select>
    </ion-item>

    <ion-item padding>
      <ion-label style="color:darkgrey; font-size:16px">Have you been initiated?</ion-label>
      <ion-toggle [(ngModel)]="member.IsInitiated" name="initiated"></ion-toggle>
    </ion-item>

    <ion-item padding>
      <ion-label style="color:darkgrey; font-size:16px">Are you a Magus?</ion-label>
      <ion-toggle [(ngModel)]="member.IsMagus" name="magus"></ion-toggle>
    </ion-item>

    <ion-row padding *ngIf="member.IsMagus">
      <ion-col col-3>
          <ion-label floating style="color:darkgrey; font-size:16px">Magus Date</ion-label>
      </ion-col>
      <ion-col col-3>
          <ion-item>
              <ion-label floating>Day</ion-label>
              <ion-select [(ngModel)]="magus_day" id="magus_day" name="magus_day">
                  <ion-option *ngFor="let item of daysList" [value] = "item">{{item}}</ion-option>
              </ion-select>
            </ion-item>
      </ion-col>
      <ion-col col-3>
          <ion-item>
              <ion-label floating>Month</ion-label>
              <ion-select [(ngModel)]="magus_month" id="magus_month" name="magus_month"  >
                  <ion-option value="Jan">January</ion-option>
                  <ion-option value="Feb">Febrary</ion-option>
                  <ion-option value="Mar">March</ion-option>
                  <ion-option value="Apr">April</ion-option>
                  <ion-option value="May">May</ion-option>
                  <ion-option value="Jun">June</ion-option>
                  <ion-option value="Jul">July</ion-option>
                  <ion-option value="Aug">August</ion-option>
                  <ion-option value="Sep">September</ion-option>
                  <ion-option value="Oct">October</ion-option>
                  <ion-option value="Nov">November</ion-option>
                  <ion-option value="Dec">December</ion-option>
                </ion-select>
            </ion-item>
      </ion-col>
      <ion-col col-3>
          <ion-item>
              <ion-label floating>Year</ion-label>
              <ion-select [(ngModel)]="magus_year" id="magus_year" name="magus_year" required>
                  <ion-option *ngFor="let item of yearList" [value] = "item">{{item}}</ion-option>
              </ion-select>
            </ion-item>
      </ion-col>
      
  </ion-row>

    <button ion-button block large icon-start color="blue" (click)="NextPage()" [disabled]="!memberForm.form.valid">Next
      <ion-icon name="ios-arrow-round-forward"></ion-icon>
    </button>
  </form>
   
</ion-content>