page-publications-categories {
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-title {
        position: top; // top: 1%;
        font-size: 18px;
        width: 100%;
        font-weight: bold;
        color: rgb(12, 12, 12);
    }
    .card-subtitle {
        font-size: 12px;
        width: 100%;
        color: rgb(10, 10, 10);
    }
}
